.ktt-table table {
  border-collapse: collapse;
  width: 100%;
  background: #ffffff;
  display: block;
  border: none;
}
.ktt-table thead tr {
  border-bottom-color: rgba(146, 182, 199, 0.5);
}
.ktt-table th {
  color: #008FC5;
  background: rgba(146, 182, 199, 0.5);
  font-size: 13px;
  padding-top: 15px;
  line-height: 15px;
  padding-bottom: 5px;
}
.ktt-table td, th {
  text-align: left;
  vertical-align: top;
  padding: 10px;
}
.ktt-table td:first-child,
.ktt-table th:first-child {
  border-left: none;
}
.ktt-table tr:nth-child(even) {
  background-color: rgba(102, 102, 102, 0.05);
}
.ktt-table {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
}
.ktt-table__static-header,
.ktt-table__slide--vertical,
.ktt-table__slide--horizontal {
  width: 900px;
}
.ktt-table__static-header {
  flex: 0 0 auto;
  z-index: 1;
}
.ktt-table__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ktt-table__slide--vertical {
  overflow-y: scroll;
  overflow-x: hidden;
}
.ktt-table__slide--horizontal {
  overflow-y: hidden;
  overflow-x: scroll;
}
.ktt-table__cell {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ktt-table__cell--label-select {
  padding-left: 10px;
}
.ktt-table__cell--w60 {
  width: 60px;
}
.ktt-table__cell--w70 {
  width: 70px;
}
.ktt-table__cell--w80 {
  width: 80px;
}
.ktt-table__cell--w105 {
  width: 105px;
}
.ktt-table__cell--w125 {
  width: 125px;
}
.ktt-table__cell--numeric {
  text-align: right;
}
